version: '3.5'

services:
  etl:
    image: harbor-uat.athenafederation.org/etl-uzl-azg/athena_kws_uc_etl:image_tag
    volumes:
      - "./log:/log"
      - "data_folder:/data"
    networks:
      - athena_athena-net
    environment:
      DB_DBMS: "postgresql"
      DB_SERVER : "postgres"
      DB_PORT: "5432"
      DB_DBNAME: "OHDSI"
      DB_SCHEMA: "omopcdm"
      DB_USER: db_username
      DB_PASSWORD: db_password
      VERBOSITY_LEVEL: verbosity_level
      DATA_SOURCE: data_source
      LAST_DATA_EXPORT: date_last_export

networks:
  athena_athena-net:
    external:
      name: feder8-net
